<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>918142211678-a0t97qu893j6nrpas7n1brnm6l23iqbn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.918142211678-a0t97qu893j6nrpas7n1brnm6l23iqbn</string>
	<key>API_KEY</key>
	<string>AIzaSyARFM7RXfWIpuBKuOXFbAT0rp_xarZv_zA</string>
	<key>GCM_SENDER_ID</key>
	<string>918142211678</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.codesworth.CWStreaks</string>
	<key>PROJECT_ID</key>
	<string>cwstreaks</string>
	<key>STORAGE_BUCKET</key>
	<string>cwstreaks.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:918142211678:ios:a635d9a9f03fc381</string>
	<key>DATABASE_URL</key>
	<string>https://cwstreaks.firebaseio.com</string>
</dict>
</plist>